<fieldset>
    <legend>Sign Up</legend>
    <form name="SignUpForm" novalidate>
        <div> First Name: <input type="text" name="FirstName" ng-model="ctrl.FirstName" required
                placeholder="first name">{{ctrl.FirstName}}
            <span ng-if="SignUpForm.FirstName.$error.required && SignUpForm.FirstName.$touched">
                First name is required
            </span>
        </div>
        <br>
        <div> Last Name: <input type="text" name="LastName" ng-model="ctrl.LastName" required
                placeholder="last name">{{ctrl.LastName}}
            <span ng-if="SignUpForm.LastName.$error.required && SignUpForm.LastName.$touched">
                Last name is required
            </span>
        </div>
        <br>
        <div> Email Address: <input type="email" name="EmailAddress" ng-model="ctrl.EmailAddress" required
                placeholder="email"> {{ctrl.EmailAddress}}
            <span ng-if="SignUpForm.EmailAddress.$invalid && SignUpForm.EmailAddress.$touched">
                Must be valid email address: handle@domain format
            </span>
        </div>
        <br>
        <div> Phone Number: <input type="text" name="PhoneNumber" ng-model="ctrl.PhoneNumber"
                placeholder="###-###-####">{{ctrl.PhoneNumber}}
            <span ng-if="SignUpForm.PhoneNumber.$invalid && SignUpForm.PhoneNumber.$touched">
                Phone Number must in the format ###-###-####
            </span>
        </div>

        <br>
        <div> Favourite item: <input type="text" name="Favouriteitem" ng-model="ctrl.Favourite" required
                placeholder="Favourite item" ng-keyup="ctrl.validateMenuItem()">{{ctrl.Favourite}}
            <span ng-if="SignUpForm.Favouriteitem.$error.required && SignUpForm.Favouriteitem.$touched">
                Favourite item is required
            </span>
            <span ng-if="!ctrl.isMenuItemExists && SignUpForm.Favouriteitem.$touched"> No such menu number exists</span>
        </div>
        <br>
        <div> <button ng-disabled="SignUpForm.$invalid" ng-click="ctrl.signup()">Submit</button>
            <span ng-if="ctrl.isFormSaved" style="color: green;">Your information has been saved</span>
        </div>
    </form>
</fieldset>